.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*Footer bottom*/

.collegamenti {
  color: #848482;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.8em;
  margin-bottom: 8px;
}

.domande {
  font-size: 1em;
}

.footerQuestion {
  font-size: 0.8em;
  color: #848482;
}

#language {
  width: 100%;
  border-radius: 6px;
}