body, html, .App {
  background-color: black !important;
}

/* Jumbotron */
.profilePicture {
  height: 135px;
  width: 135px;
  border-radius: 50%;
  left: 4px;
  position: relative;
  top: 5px;
  background-color: black;
  padding: 5px;
  margin-top: -100px;
}

.biPencil:hover {
  background-color: rgba(69, 65, 65, 0.788);
  border-radius: 50px;
  cursor: pointer;
}

.altroButton:hover{
  background-color: lightslategray !important;
  color: white !important;
}

.altroButton, .messaggioButton {
  font-weight: bold !important;
}
/* fine Jumbotron */

/* INIZIO NAVBAR */
.icons {
  font-size: 1.2em;
}
.iteration {
  border-right: 0.1px solid rgba(128, 128, 128, 0.2);
}
.searchBar {
  align-items: center;
}
nav {
  z-index: 1;
  position: sticky;
  top: 0;
  border-top: 0.1px solid rgba(128, 128, 128, 0.2);
  border-bottom: 0.1px solid rgba(128, 128, 128, 0.2);
  color: grey;
  background-color: #1d2226;
}
.inputBar {
  border-radius: 8px;
  color: white;
  align-items: center;
  background-color: #38434f;
}
input {
  color: white;
  background-color: #38434f;
  border: none;
  outline: none;
}
.navRow {
  align-items: center;
  justify-content: space-between;
}
nav .btn-primary {
  background-color: transparent !important;
  padding: 0 !important;
  border: none !important;
  color: grey !important;
}
.subDrop:hover {
  color: white !important;
}
.btnIcon:hover {
  color: white !important;
  cursor: pointer;
  border-bottom: 1px solid white;
}
.btnIcon {
  align-items: center;
  display: flex;
  flex-direction: column;
}
/* FINE NAVBAR*/

.position-sticky-bottom {
  bottom: 0;
  right: 0;
  position: fixed !important;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dropdown-menu-right.position-sticky-bottom {
  background-color: white !important;
}
/*Footer bottom*/

.collegamenti {
  color: #848482;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.8em;
  margin-bottom: 8px;
}

.domande {
  font-size: 1em;
}

.footerQuestion {
  font-size: 0.8em;
  color: #848482;
}

#language {
  width: 100%;
  border-radius: 6px;
}
/*BODY NEWS*/
.newsCard {
  color: white;
  background-color: #1d2226;
  border-radius: 20px;
}
.descriptionText {
  color: rgb(148, 148, 148);
  font-size: 0.7em;
}
.descriptionText div:nth-child(1) {
  font-weight: bold;
  color: white;
  font-size: 0.9rem;
}
.contentNews {
  font-size: 0.9em;
}
.commentIcon{
  border-radius: 10px;
}
.imgNews img{
  max-width: 100%;
}
.commentIcon:hover {
  background-color: rgba(128, 128, 128, 0.5);
  cursor: pointer;
}
.controlIcon div:nth-child(1){
  color: rgb(108, 167, 255);
}
.controlIcon div:nth-child(1):hover{
  cursor: pointer;
}
.threeIcon{
  border-radius: 50%;
  font-size: 1em;
}
.threeIcon:hover{
  cursor: pointer;
  background-color: rgba(128, 128, 128, 0.5);
}
.initialNews img{
width: 50px;
}
/* homepage left part */

.profilePictureHome {
  height:60px;
  width: 60px;
  border-radius: 50%;
  position: relative;
  background-color: black;
  padding: 2.5px;
  margin-top: -25px;
}

.hoverElement:hover{
  background-color: #84848233;
  cursor: pointer;
}

.textSmall {
  font-size: 12px;
}